<% if user_signed_in? && current_user != user %>
  <% if current_user.following?(user) %>
    <%= link_to "UnFollow", relationship_path(follow_id: user.id), method: :delete %>
  <% else %>
    <%= form_with url: relationships_path do |f| %>
      <%= f.hidden_field :follow_id, value: user.id %>
      <%= f.submit 'Subs', class: 'btn btn-prymary btn-block' %>
    <% end %>
  <% end %>
<% end %>